<%- include('../includes/top.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="container">
    <h1>We sent you a verification email</h1>
    <h2>Check your spams if you didn't recieve any email</h2>
</div>
<%- include('../includes/bottom.ejs') %>
