<ul class="collapse bd-links">
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
    <div class="bd-toc-item">
        <a href="" class="bd-toc-link">Components</a>
    </div>
</ul>