<%- include('../includes/top.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="container">
    <h1>Download App</h1>
    <h2>Comming Soon...</h2>
</div>
<%- include('../includes/bottom.ejs') %>
