<%- include('../includes/top.ejs') %>
<%- include('../includes/nav.ejs') %>
<div class="container">
    <div class="alert alert-danger">
        <%= errorMessage %>
    </div>
</div>
<%- include('../includes/bottom.ejs') %>
